:root {
  --sidebar-width: 220px;
  --sidebar-collapsed: 64px;
  --primary-bg:  #f5f5f5;
  --hover-bg: linear-gradient(360deg, #B6C638, #2F9043);
  --text:#111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background:  linear-gradient(360deg, #B6C638, #2F9043);
  color: #333;
  display: flex;
  min-height: 100vh;
  background-attachment: fixed;
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  z-index: 1000;
  color: #000000;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.4rem;
}

.sidebar {
  width: var(--sidebar-width);
  background: var(--primary-bg);
  color: var(--text);
  flex-shrink: 1;
  transition: width 0.3s ease;
  overflow: hidden;
  padding-top: 3.5rem; 
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed);
}

.sidebar ul {
  list-style: none;
}

.sidebar li a {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  text-decoration: none;
  color: var(--text);
  gap: 0.75rem;
  transition: background 0.2s;
}

.sidebar li a:hover {
  background: var(--hover-bg);
}

.sidebar .label {
  white-space: nowrap;
  transition: opacity 0.3s;
}
.logout {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logout a {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  color: var(--text);
  text-decoration: none;
  transition: background .2s;
}

.logout a:hover {
  background: var(--hover-bg);
}
.sidebar.collapsed  .logout {
  opacity: 0;
  pointer-events: none;
}
.sidebar.collapsed  .label {
  opacity: 0;
  pointer-events: none;
}

main {
  flex: 1;
  padding: 4rem 2rem 2rem;
}
